<!-- Wappler include fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="login" appConnect="local" components="{dmxBootstrap5Navigation:{}}" -->
<meta name="ac:route" content="/login">
<div class="container-fluid">
    <!--div class="back">
            <div class="wrapper1"></div>
            <div class="wrapper2"></div>
            <div class="wrapper3"></div>
        </div-->
    <div class="row">
        <div class="col-12 p-5 text-center">
            <div class="title">
                <b class="animate__animated animate__fadeInUp">iCandyMedia</b>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="box animate__animated animate__fadeInUp">
                <div class="tabs">
                    <!-- Nav pills -->
                    <ul class="nav nav-pills justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="pill" href="#home">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " data-bs-toggle="pill" href="#menu1">Sign Up</a>
                        </li>

                    </ul>
                </div>
                <div class="tab-content">
                    <div id="home" class="container tab-pane active sign_in animate__animated animate__fadeInLeft"><br>
                        <form class="mt-2" action="performers">
                            <div class="form-group did-floating-label-content">
                                <input type="text" class="did-floating-input" placeholder="Enter your Email Address...">
                                <label class="did-floating-label">Email Address</label>
                            </div>
                            <div class="form-group did-floating-label-content">
                                <input type="Password" class="did-floating-input" placeholder="Enter your Password...">
                                <label class="did-floating-label">Password</label>
                            </div>
                            <div class="row">
                                <div class="col-6 text-center">
                                    <button class="btn3">Forget Password?</button>
                                </div>
                                <div class="col-6">
                                    <button class="btn d-block mx-auto btn1" type="submit">Sign In</button>
                                </div>
                            </div>

                        </form>
                        <div class="row text-center mt-2">
                            <div class="col">
                                <span class="social-text">Or use a social account to login</span>
                            </div>
                        </div>

                        <div class="row text-center mt-2">
                            <div class="social-btns">
                                <button><i class="fab fa-google"></i></button>
                                <button><i class="fab fa-apple"></i></button>
                                <button><i class="fas fa-user-friends"></i></button>
                            </div>
                        </div>
                    </div>


                    <div id="menu1" class="container tab-pane fade sign_up animate__animated animate__fadeInRight"><br>
                        <form class="mt-2">
                            <div class="form-group did-floating-label-content">
                                <input type="text" class="did-floating-input" placeholder="Enter your Email Address...">
                                <label class="did-floating-label">Email Address</label>
                            </div>
                            <div class="form-group did-floating-label-content">
                                <input type="Password" class="did-floating-input" placeholder="Enter your Password...">
                                <label class="did-floating-label">Password</label>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button class="btn d-block mx-auto btn2">Create Account</button>

                                </div>



                            </div>


                        </form>
                        <div class="row text-center mt-2">
                            <div class="col">
                                <span class="social-text">Sign Up using a social account</span>
                            </div>
                        </div>

                        <div class="row text-center mt-2">
                            <div class="social-btns">
                                <button><i class="fab fa-google"></i></button>
                                <button><i class="fab fa-apple"></i></button>
                                <button><i class="fas fa-user-friends"></i></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>