<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="performers" appConnect="local" -->
<meta name="ac:route" content="/performers">
<!-- New Wappler Page -->

<nav class="bg-primary container-fluid fixed-top mx-0 row px-0">
    <div class="p-2 col-2">
        <button class="back-btn" onclick="history.back()"><i class="fas fa-arrow-left"></i></button>
    </div>
    <div class="col flex-grow-1 nav-title p-2 text-center text-white">Performers</div>
</nav>
<div class="container mt-5 px-0">
    <div class="row mx-0">
        <div class="col px-0">
            <div id="myDIV" class="row mx-0 mt-4">
                <button class="col p-btn p-active">All</button>
                <button class="col p-btn">Filtered</button>
                <button class="col p-btn">New</button>
                <button class="col p-btn">Outline</button>
                <button class="col p-btn">Favorites</button>
            </div>
        </div>
    </div>
</div>
<div class="container per_content">
    <div class="row mt-4">
        <div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-3">
            <a href="profile">
                <div class="image-frame d-block mx-auto">
                    <div class="image-box">
                        <div class="img">
                            <img src="assets/images/user.jpg" class="d-block mx-auto" alt="">
                        </div>
                    </div>
                    <div class="profile-name">
                        <span class="px-1">John Snow</span>
                    </div>
                    <div class="status">
                        <span>Hi, I need to fetch the user status</span>
                    </div>
                </div>

            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-3">
            <a href="profile.html">
                <div class="image-frame d-block mx-auto">
                    <div class="image-box">
                        <div class="img">
                            <img src="assets/images/user.jpg" class="d-block mx-auto" alt="">
                        </div>
                    </div>
                    <div class="profile-name">
                        <span class="px-1">John Snow</span>
                    </div>
                    <div class="status">
                        <span>Hi, I need to fetch the user status</span>
                    </div>
                </div>

            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-3">
            <a href="profile.html">
                <div class="image-frame d-block mx-auto">
                    <div class="image-box">
                        <div class="img">
                            <img src="assets/images/user.jpg" class="d-block mx-auto" alt="">
                        </div>
                    </div>
                    <div class="profile-name">
                        <span class="px-1">John Snow</span>
                    </div>
                    <div class="status">
                        <span>Hi, I need to fetch the user status</span>
                    </div>
                </div>

            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-3">
            <a href="profile.html">
                <div class="image-frame d-block mx-auto">
                    <div class="image-box">
                        <div class="img">
                            <img src="assets/images/user.jpg" class="d-block mx-auto" alt="">
                        </div>
                    </div>
                    <div class="profile-name">
                        <span class="px-1">John Snow</span>
                    </div>
                    <div class="status">
                        <span>Hi, I need to fetch the user status</span>
                    </div>
                </div>

            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-3">
            <a href="profile.html">
                <div class="image-frame d-block mx-auto">
                    <div class="image-box">
                        <div class="img">
                            <img src="assets/images/user.jpg" class="d-block mx-auto" alt="">
                        </div>
                    </div>
                    <div class="profile-name">
                        <span class="px-1">John Snow</span>
                    </div>
                    <div class="status">
                        <span>Hi, I need to fetch the user status</span>
                    </div>
                </div>

            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-3">
            <a href="profile.html">
                <div class="image-frame d-block mx-auto">
                    <div class="image-box">
                        <div class="img">
                            <img src="assets/images/user.jpg" class="d-block mx-auto" alt="">
                        </div>
                    </div>
                    <div class="profile-name">
                        <span class="px-1">John Snow</span>
                    </div>
                    <div class="status">
                        <span>Hi, I need to fetch the user status</span>
                    </div>
                </div>

            </a>
        </div>
    </div>
</div>