<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="profile" appConnect="local" -->
<meta name="ac:route" content="/profile">
<!-- New Wappler Page -->
<nav class="d-flex bg-primary fixed-top">
    <div class="p-2 ">
        <a href="performers"><button class="back-btn"><i class="fas fa-arrow-left"></i></button></a>
    </div>

    <div class="p-2 flex-grow-1 text-center text-white nav-title">Profile</div>
</nav>
<div class="container-fluid" id="wrapper">
    <div class="row">
        <div class="col-6">
            <span class="icn float-start">
                <i class="fas fa-camera"></i>
            </span>
        </div>
        <div class="col-6">
            <span class="icn float-end">
                <i class="fas fa-ellipsis-h"></i>
            </span>
        </div>
    </div>

</div>
<div class="container-fluid card" id="content_wrapper">
    <div class="row">
        <div class="col">
            <div class="img">
                <img class="imgg" src="assets/images/me_circle.png" alt="">
            </div>
        </div>
        <div class="col">
            <div class="text">
                <span class="txt1">804</span><br>
                <span class="txt2">Post</span>
            </div>
        </div>
        <div class="col">
            <div class="text">
                <span class="txt1">705k</span><br>
                <span class="txt2">Followers</span>
            </div>
        </div>
        <div class="col">
            <div class="text">
                <span class="txt1">12</span><br>
                <span class="txt2">Following</span>
            </div>
        </div>
        <div class="col">
            <div class="text last">
                <span class="txt1"><i class="fas fa-caret-down mt-3"></i></span>

            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="user">
                <span class="name">Abdullah Al Mahmud <i class="fas fa-certificate"></i></span><br>
                <span class="user_id">@abmahmud</span>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-10">
            <div id="myDIV" class="d-flex">
                <button class="p-btn p-active">Post</button>
                <button class="p-btn">Status</button>
                <button class="p-btn">Bio</button>

            </div>

        </div>
        <div class="col-2">
            <i class="fas fa-filter"></i>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            <div class="card posts" style="width: 100%;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <img class="img" src="assets/images/pic.jfif" alt="">
                        </div>
                        <div class="col-8">
                            <div class="user mt-1" style="line-height: 18px;">
                                <span class="name">Abel Mengistu <i class="fas fa-certificate"></i></span><br>
                                <span class="user_id">@abelmengistu . 2 hours ago</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <i class="fas fa-ellipsis-v float-end" style="color: #787878; font-size: 16px;"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col caption">
                            FlutterFlow 3.0 is here:<br>
                            🏬 FlutterFlow Marketplace<br>
                            👩‍💻 Support For Web Applications<br>
                            🚀 Web Deployment<br>
                            🎨Design Systems and Shared Media Assets for Teams<br>
                            👥 Custom Code Library for Teams<br>

                            Learn more and share your feedback 👇<br>
                            https://producthunt.com/posts/flutterflow-3-0<br>

                            #flutter #nocode
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="images">
                                <img src="assets/images/postimg.jfif" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-10 d-flex views">
                            <img src="https://picsum.photos/seed/711/600" alt="" class="img1">
                            <img class="img2" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                            <span><i class="far fa-comment-alt"></i> 21</span>
                            <span><i class="fas fa-heart" style="color: red;"></i>212</span>
                        </div>
                        <div class="col-2">
                            <i class="far fa-bookmark float-end"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            <div class="card posts" style="width: 100%;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <img class="img" src="assets/images/pic.jfif" alt="">
                        </div>
                        <div class="col-8">
                            <div class="user mt-1" style="line-height: 18px;">
                                <span class="name">Abel Mengistu <i class="fas fa-certificate"></i></span><br>
                                <span class="user_id">@abelmengistu . 2 hours ago</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <i class="fas fa-ellipsis-v float-end" style="color: #787878; font-size: 16px;"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col caption">
                            I'm going to improve Flutter Flow for the whole community, implementing features to improve the user experience.
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-10 d-flex views">
                            <img src="https://picsum.photos/seed/711/600" alt="" class="img1">
                            <img class="img2" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                            <span><i class="far fa-comment-alt"></i> 21</span>
                            <span><i class="fas fa-heart" style="color: red;"></i>212</span>
                        </div>
                        <div class="col-2">
                            <i class="far fa-bookmark float-end"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            <div class="card posts" style="width: 100%;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <img class="img" src="assets/images/pic.jfif" alt="">
                        </div>
                        <div class="col-8">
                            <div class="user mt-1" style="line-height: 18px;">
                                <span class="name">Abel Mengistu <i class="fas fa-certificate"></i></span><br>
                                <span class="user_id">@abelmengistu . 2 hours ago</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <i class="fas fa-ellipsis-v float-end" style="color: #787878; font-size: 16px;"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col caption">
                            I'm going to improve Flutter Flow for the whole community, implementing features to improve the user experience.
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-10 d-flex views">
                            <img src="https://picsum.photos/seed/711/600" alt="" class="img1">
                            <img class="img2" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                            <span><i class="far fa-comment-alt"></i> 21</span>
                            <span><i class="fas fa-heart" style="color: red;"></i>212</span>
                        </div>
                        <div class="col-2">
                            <i class="far fa-bookmark float-end"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>


<br>
<br>
<br>


<div class="container-fluid">
    <div class="bottom-appbar">
        <div class="tabs">
            <div class="tab is-active tab--left">
                <span><i class="fas fa-file"></i></span>
            </div>
            <div class="tab is-active tab--left">
                <span><i class="fas fa-comment-alt"></i></span>
            </div>
            <div class="tab tab--fab" @click="openDiscovery">
                <div class="top">
                    <div class="fab"> + </div>
                </div>
            </div>
            <div class="tab tab--right">
                <span><i class="fas fa-heart"></i></span>
            </div>
            <div class="tab tab--right">
                <span><i class="fas fa-user"></i></span>
            </div>
        </div>
    </div>
</div>